<!DOCTYPE html>
<html>
  <head>
    <title>MoviesCrud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
<link rel="stylesheet" href="/assets/application.css">
<script src="/packs/application.js"></script>
<%= csrf_meta_tags %>
</head>

  <body>
    <%= yield %>
  </body>
</html>
